@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 90%;
    margin: 0 auto;
    font-family: 'Oxygen', sans-serif;
}

.banner {
    display: flex;
    height: 100vh;
}

.banner-left {
    flex: 1;
    display: flex;
    align-items: center;
}

.banner-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-right img {
    width: 90%;
    border-radius: 20px;
}

.banner-text {
    text-align: justify;
    margin-top: 20px;
}

.explore {
    background-color: #7B77F2;
    border: 1px solid #7B77F2;
    padding: 10px;
    border-radius: 10px;
    margin: 20px 0;
    color: white;
    font-weight: 700;
}

.explore:hover {
    color: #7B77F2;
    border: 1px solid #7B77F2;
    background-color: white;
    transition: background-color 0.8s ease-out;
}

.name {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #6AD991;
}

.banner-title {
    font-size: 2rem;
    color: transparent;
    position: relative;
}

.banner-title::before {
    content: 'Web Developer';
    position: absolute;
    color: #7B77F2;
    animation: typing 5s linear 1s infinite;
}

@keyframes typing {
    0% {
        content: 'W|';
    }

    5% {
        content: 'We|';
    }

    10% {
        content: 'Web|';
    }

    15% {
        content: 'Web |';
    }

    20% {
        content: 'Web D|';
    }

    25% {
        content: 'Web De|';
    }

    30% {
        content: 'Web Dev|';
    }

    35% {
        content: 'Web Deve|';
    }

    40% {
        content: 'Web Devel|';
    }

    45% {
        content: 'Web Develo|';
    }

    50% {
        content: 'Web Develop|';
    }

    55% {
        content: 'Web Develope|';
    }

    60% {
        content: 'Web Developer|';
    }

    65%,
    85% {
        content: 'Web Developer|';
    }

    86% {
        content: 'Web Develope|';
    }

    87% {
        content: 'Web Develop|';
    }

    88% {
        content: 'Web Develo|';
    }

    89% {
        content: 'Web Devel|';
    }

    90% {
        content: 'Web Deve|';
    }

    91% {
        content: 'Web Dev|';
    }

    92% {
        content: 'Web De|';
    }

    93% {
        content: 'Web D|';
    }

    94% {
        content: 'Web |';
    }

    95% {
        content: 'Web|';
    }

    96% {
        content: 'We|';
    }

    97% {
        content: 'W|';
    }

    98%,
    100% {
        content: '|';
    }
}

.photo {
    height: 300px;
    width: 300px;
    position: relative;
    overflow: hidden;
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.border {
    background-color: #6AD991;
    position: absolute;
    transition: .5s ease-in-out;
}

.border.top,
.border.bottom {
    height: 5px;
    width: 290px;
}

.border.left,
.border.right {
    height: 290px;
    width: 5px;
}

.border.top {
    top: 5px;
    left: 100%;
}

.border.bottom {
    bottom: 5px;
    right: 100%;
}

.border.left {
    left: 5px;
    bottom: 100%;
}

.border.right {
    right: 5px;
    top: 100%;
}

.photo:hover .border.top {
    left: 5px;
}

.photo:hover .border.bottom {
    right: 5px;
}

.photo:hover .border.left {
    bottom: 5px;
}

.photo:hover .border.right {
    top: 5px;
}